# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Virtual environments
.venv/
venv/
ENV/
.py*/
py*

# IDE
.vscode/
.idea/

# Environment variables
.env
.env.*

# OS
Thumbs.db
.DS_Store

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# Mypy
.mypy_cache/